@import url('facit.css');
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

html, body {
  background-color:white;
  color:#777;
  font-family:'Facit-Light', 'Roboto', arial, sans-serif;
  height: 100%;
}
::-webkit-scrollbar {
  width: 0 !important;
}
h1, h2 {
    font-family: 'Facit-Semibold';
}

/* Top nav formatting */
.navbar-header {
  margin-bottom:0;
}
.navbar {
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
  background:transparent;
  background-color: #514A79;
  border: transparent;
  border-radius:0;
  margin-bottom:0;
}
.navbar-brand,
.navbar {
  min-height:32px;
  height:40px;
}
.navbar-brand {
  padding-top:8px;
}
.navbar-default .navbar-nav > li > a {
  color: #E3E3F2;
  font: 14px 'Facit-Light', sans-serif;
  padding: 12px 10px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-form .form-control {
  padding:10px 0;
  margin-bottom:0;
  height: 14px;
  border-radius:0;
}
.navbar-form button {
  padding:1px 6px;
}
.form-control .btn,
.form-control .btn-default{
  padding:0;
  line-height: 0;
}
.navbar-default .navbar-nav > .dropdown > li > a {
  color: #E3E3F2;
  padding: 12px 10px;
}
.navbar-default .navbar-nav > .dropdown > li > a:hover,
.navbar-default .navbar-nav > .dropdown > li > a:focus {
  color: #fff;
  background-color: transparent;
}


/* Side nav */
.side-nav {
  top:40px;
  left:0px;
  position:fixed;
  width: 175px;
  min-height: 100%;
  background-color:#f1f1f1;
  text-align:center;
}
.side-nav > h4 {
  font-size:18px;
  font-weight:400;
  margin:20px;
}
.side-nav > ul {
  text-align:left;
  list-style:none;
  left:0px;
  float:left;
  width:100%;
  margin-left:0;
  padding-left:0;
  font-size:11pt;
}
.side-nav > ul > li {
  left:0px;
  padding:15px 30px;
  font-size:14px;
}
.side-nav > ul > li.selected {
  background-color:white;
  font-family: 'Facit-Semibold';
}
.side-nav > ul > li.selected:hover {
  background-color:white;
  font-family: 'Facit-Semibold';
}
.side-nav > ul > li:hover {
  background-color:#D8D8D8;
}

/* Hamburger menu */
.dropdown {
    position: relative;
    display: inline-block;
    color:white;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-top:33px;
    right:10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 9px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropdown-content > hr {
  margin:0;
  padding:0;
}
.container {
  float:center;
  text-align:center;
  display:flex;
  justify-content:space-around;
  align-items:center;
  max-width:600px;
  background-color:#fff;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.2);
  padding:20px;
}

.row {
  display:flex;
  flex-grow:1;
  margin: 20px 0;
}
.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0; 
  vertical-align: middle;
}

/* Main content */

.main {
  margin-left:220px;
  margin-top:70px;
  margin-right:60px;
}
.main > h2 {
  font-size:24px;
}
