html {
  padding:25px;
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  cursor:pointer;
  float:center;
  text-align:center;
}
::-webkit-scrollbar {
  width: 0 !important;
}
input {
  height:30px;
  box-shadow: none;
  border: 1px solid #333;
  margin-left:10px;
}
.container {
  float:center;
  text-align:center;
  display:flex;
  justify-content:space-around;
  align-items:center;
  max-width:600px;
  background-color:#fff;
  box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.2);
  padding:20px;
}
.row {
  display:flex;
  flex-grow:1;
  margin: 20px 0;
}
.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}